@font-face {
  font-family: MinnaDaisuki;
  src: url("https://static.wikitide.net/katamaripediawiki/a/af/ThemeHeader.ttf") format("truetype");
}

@font-face {
  font-family: katamari_size;
  src: url("./assets/katamari-size.otf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  font-family: MinnaDaisuki, sans-serif;

  background: url("./assets/back.png");
  background-attachment: fixed;
  background-size: auto 100vh;

  color-scheme: only dark;

  --bg-blue: rgba(90, 152, 210, 0.2);
  --bg-green: rgba(90, 210, 152, 0.2);
  --fg-blue: rgb(90, 152, 210);
}

body {
  margin: 3rem;
}

nav {
  margin-block-end: 2rem;
}

[role="radiogroup"] {
  margin-block-end: 1rem;
}

nav, [role="radiogroup"] {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  justify-content: center;
}

.radio-wrapper, select {
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 50vh;
  background: var(--bg-blue);

  & > input {
    position: absolute;
    opacity: 0;
  }

  &:has(input:checked) {
    outline: 2px solid var(--fg-blue);
    outline-offset: 3px;
  }
}

nav > .radio-wrapper {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
}

.radio-wrapper.complete,
select:has(option.complete:checked) {
  background: var(--bg-green);
}

body {
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  translate: 0 0;
  transition: translate 0.5s;

  &.anim-enter, &.anim-exit {
    height: 0;
  }

  &.anim-enter {
    transition-delay: 0.25s;
    transition-timing-function: ease-out;
  }

  &.anim-exit {
    transition-timing-function: ease-in;
  }

  &.anim-exit,
  &.anim-enter:not(.anim-enter-active) {
    &:not(:last-of-type) {
      translate: -100vw 0;
    }
    &:not(:first-of-type) {
      translate: 100vw 0;
    }
  }
}

ol.missions {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

ol.missions > li {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-height: 180px;
  width: 400px;
  padding: 1em;
  background: var(--bg-blue);
  border-radius: 40px;

  flex-grow: 1;

  h2 {
    margin: 0;
    font-size: 2rem;
  }

  dl {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  dt {
    color: var(--fg-blue);
    &::after {
      content: ':';
    }
  }

  dd {
    margin-inline-start: 1em;
  }

  dd ol {
    padding-inline-start: 1em;
  }
}

dt[data-label="Diameter"] + dd,
dd.size {
  font-family: katamari_size, sans-serif;
}

ol.things {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  &:has(> :nth-child(1500)) {
    display: block;

    > li {
      margin-block: 1rem;
    }
  }

  > li {
    list-style: none;
    width: 400px;
    background: var(--bg-blue);
    padding: 0.5rem;
    position: relative;

    border-radius: 40px;

    > h2 {
      text-align: center;
      margin: 0.5rem;
    }

    &:has(> .marker) {
      background: var(--bg-green);
    }

    > .marker {
      position: absolute;
      inset-block-start: 0.5rem;
      inset-inline-end: 1.75rem;
      color: lime;
      opacity: 0.4;
      font-size: 1.5rem;
      font-weight: bold;
    }

    > dl {
      display: flex;
      justify-content: center;
      margin-block: 0.75rem;

      > dt {
        width: 0;
        height: 0;
        overflow: hidden;
      }

      > dd {
        margin: 0;

        &:not(:first-of-type)::before {
          margin: 0.5rem;
          content: '•'
        }
      }
    }

    > p {
      margin: 0.5rem;
      text-wrap: balance;
      text-align: center;
    }
  }
}

li.photo {
  display: block;
  line-height: 0;
  aspect-ratio: 1024 / 576;

  position: relative;
  box-sizing: content-box;

  > img {
    width: 100%;
  }

  &:not(:has(> img))::after {
    width: 1024px;
    display: block;
    content: '';
  }
}

ul.album {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  max-width: 1500px;
  gap: 2rem;
  padding: 0;
  margin: 0;

  > li.photo {
    outline: 8px solid currentColor;
    border: 4px solid rgba(from currentColor calc(r * 0.32) calc(g * 0.32) calc(b * 0.32));
    border-radius: 8px;

    &:nth-child(1),
    &:nth-child(10) {
      color: #f7bff7;
    }

    &:nth-child(2),
    &:nth-child(8),
    &:nth-child(11) {
      color: #e7bef7;
    }

    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(12) {
      color: #ffffa1;
    }

    &:nth-child(4),
    &:nth-child(6) {
      color: #94f3f7;
    }

    &:nth-child(7),
    &:nth-child(9) {
      color: #ffc3c3;
    }
  }
}

ul.camera {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 2rem 0;
  gap: 2rem;

  &:not(:has(img)) {
    display: none;
  }

  > li.photo {
    max-width: 200px;
    animation: bob 2s alternate infinite ease-in-out;

    border: 6px dashed white;

    &:has(> img) {
      border-style: solid;
    }
  }
}

king-of-all-cosmos {
  position: relative;
  display: block;
  overflow-anchor: none;

  width: min-content;
  height: 20rem;

  animation: bob 3s alternate infinite ease-in-out;
  pointer-events: none;
  user-select: none;
  overflow: hidden;

  .face {
    z-index: 1;
    height: 65%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  }

  .bg > img {
    height: 100%;

    mask-image: url("./assets/kingbg-alpha.avif");
    mask-image: image-set(
      "./assets/kingbg-alpha.avif" type("image/avif"),
      "./assets/kingbg-alpha.gif" type("image/gif")
    );
    mask-mode: luminance;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    animation: spin 30s linear infinite;
  }
}

@keyframes spin {
  to { rotate: 360deg; }
}

@keyframes bob {
  from { translate: 0 -5%; }
  to { translate: 0 5%; }
}
