@font-face {
  font-family: MinnaDaisuki;
  src: url("https://static.wikitide.net/katamaripediawiki/a/af/ThemeHeader.ttf") format("truetype");
}

@font-face {
  font-family: katamari_size;
  src: url("./assets/katamari-size.otf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  font-family: MinnaDaisuki, sans-serif;

  background: url("./assets/back.png");
  background-attachment: fixed;
  background-size: auto 100vh;

  color: white;
}

body {
  margin: 3rem;
}

ol.missions {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

ol.missions > li {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-height: 180px;
  width: 400px;
  padding: 1em;
  background: rgba(90, 152, 210, 0.2);
  border-radius: 40px;

  flex-grow: 1;

  h2 {
    margin: 0;
    font-size: 2rem;
  }

  dl {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  dt {
    color: rgb(90, 152, 210);
    &::after {
      content: ':';
    }
  }

  dd {
    margin-inline-start: 1em;
  }

  dt[data-label="Diameter"] + dd {
    font-family: katamari_size, sans-serif;
  }

  dd ol {
    padding-inline-start: 1em;
  }
}

king-of-all-cosmos {
  position: relative;
  display: block;

  width: min-content;
  height: 20rem;

  animation: bob 3s alternate infinite ease-in-out;
  pointer-events: none;
  user-select: none;

  .face {
    z-index: 1;
    height: 65%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  }

  .bg > img {
    height: 100%;

    mask-image: url("./assets/kingbg-alpha.avif");
    mask-image: image-set(
      "./assets/kingbg-alpha.avif" type("image/avif"),
      "./assets/kingbg-alpha.gif" type("image/gif")
    );
    mask-mode: luminance;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    animation: spin 30s linear infinite;
  }
}

@keyframes spin {
  to { rotate: 360deg; }
}

@keyframes bob {
  from { translate: 0 -5%; }
  to { translate: 0 5%; }
}
