@font-face {
  font-family: MinnaDaisuki;
  src: url("https://static.wikitide.net/katamaripediawiki/a/af/ThemeHeader.ttf") format("truetype");
}

@font-face {
  font-family: katamari_size;
  src: url("./assets/katamari-size.otf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  font-family: MinnaDaisuki, sans-serif;

  background: url("./assets/back.png");
  background-attachment: fixed;
  background-size: auto 100vh;

  color-scheme: only dark;

  --bg-blue: rgba(90, 152, 210, 0.2);
  --bg-green: rgba(90, 210, 152, 0.2);
  --fg-blue: rgb(90, 152, 210);
}

body {
  margin: 3rem;
}

nav {
  margin-block-end: 2rem;
}

[role="radiogroup"] {
  margin-block-end: 1rem;
}

nav, [role="radiogroup"] {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  justify-content: center;
}

.radio-wrapper, select {
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 50vh;
  background: var(--bg-blue);

  & > input {
    position: absolute;
    opacity: 0;
  }

  &:has(input:checked) {
    outline: 2px solid var(--fg-blue);
    outline-offset: 3px;
  }
}

nav > .radio-wrapper {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
}

.radio-wrapper.complete,
select:has(option.complete:checked) {
  background: var(--bg-green);
}

body {
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  translate: 0 0;
  transition: translate 0.5s;

  &.anim-enter, &.anim-exit {
    height: 0;
  }

  &.anim-enter {
    transition-delay: 0.25s;
    transition-timing-function: ease-out;
  }

  &.anim-exit {
    transition-timing-function: ease-in;
  }

  &.anim-exit,
  &.anim-enter:not(.anim-enter-active) {
    &:not(:last-of-type) {
      translate: -100vw 0;
    }
    &:not(:first-of-type) {
      translate: 100vw 0;
    }
  }
}

ol.missions {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

ol.missions > li {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-height: 180px;
  width: 400px;
  padding: 1em;
  background: var(--bg-blue);
  border-radius: 40px;

  flex-grow: 1;

  h2 {
    margin: 0;
    font-size: 2rem;
  }

  dl {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  dt {
    color: var(--fg-blue);
    &::after {
      content: ':';
    }
  }

  dd {
    margin-inline-start: 1em;
  }

  dt[data-label="Diameter"] + dd {
    font-family: katamari_size, sans-serif;
  }

  dd ol {
    padding-inline-start: 1em;
  }
}

king-of-all-cosmos {
  position: relative;
  display: block;
  overflow-anchor: none;

  width: min-content;
  height: 20rem;

  animation: bob 3s alternate infinite ease-in-out;
  pointer-events: none;
  user-select: none;

  .face {
    z-index: 1;
    height: 65%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  }

  .bg > img {
    height: 100%;

    mask-image: url("./assets/kingbg-alpha.avif");
    mask-image: image-set(
      "./assets/kingbg-alpha.avif" type("image/avif"),
      "./assets/kingbg-alpha.gif" type("image/gif")
    );
    mask-mode: luminance;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    animation: spin 30s linear infinite;
  }
}

@keyframes spin {
  to { rotate: 360deg; }
}

@keyframes bob {
  from { translate: 0 -5%; }
  to { translate: 0 5%; }
}
